@import "source.scss";
@import "ui/ui-border";

*{
  margin:0;padding:0;outline: 0;vertical-align: baseline;-webkit-user-select:auto;
  @include box-sizing(border-box);-webkit-tap-highlight-color: transparent;
}
html{
  color:$main-text2-color;background:#fff;
  font-size: rem(14);
  font-family: PingFangSC, 'San Francisco',
    "Helvetica Neue", Helvetica, "Hiragino Sans GB",
    "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1",
    Arial, sans-serif;
}
input,select,button{font-size:100%;outline:0;vertical-align:middle;-webkit-appearance: none;color:$main-text2-color;}
button{border: 0;background-clip: padding-box;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul,li{list-style:none;}
img{border:none;vertical-align:baseline;}
textarea,input{word-wrap:break-word;word-break:break-all;}
hr{clear: both; -webkit-user-select: none; break-after: page;}
pre{word-wrap:break-word;word-break:break-all;}
span,p,div{word-wrap:break-word;}
.lf{float:left;}
.rt{float:right;}

//**********************************ui border
.ui-border{@include ui-border;}
.ui-border-all{@include ui-border-all;}
.ui-border-top{@include ui-border-top;}
.ui-border-bottom{@include ui-border-bottom;}
.ui-border-left{@include ui-border-left;}
.ui-border-right{@include ui-border-right;}

.ui-border.dashed{@include ui-border-style-dashed;}
.ui-border.dotted{@include ui-border-style-dotted;}

.ui-border.light{@include ui-border-color-light;}
.ui-border.dark{@include ui-border-color-dark;}
.ui-border.white{@include ui-border-color-white;}
